<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Шахова дошка</title>
	<style>
		.text{

		}
		.link{
			padding: 10px;
			border:2px solid blue;
		}
		.container{
			padding: 20px;
		}
	</style>
</head>
<body>
<span class="text">Результат : <%= black%> чорних клітинок </span>
<div class="container">
	<a class="link" href="index.html">На головну сторінку</a>
	<a class="link" href="first.html">Ввести іншу умову</a>
</div>
</body>
</html>